<%- include('../layout/header'); %>

<div class="flex-grow bg-cover bg-center p-4" style="background-image: url('/images/playground.jpg');">
    <main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
        <div class="max-w-xl mx-auto bg-stone-50 rounded-lg drop-shadow-lg p-16">
            <h2 class="subtitle text-5xl">Continue your adventure.</h2>
            <p class="mt-2 mb-4">
                Log in to your account and reserve your stay today!
            </p>

            <%if (locals.message) { %>
                <p id="error_message" class="mt-2 mb-4 p-3 bg-red-200 border-l-4 border-red-600">
                    <%= locals.message %>
                </p>
            <% } %>
            
            <%- include('../components/login-form'); %>
        </div>
    </main>
</div>

<%- include('../layout/footer'); %>