<%- include('../layout/header'); %>

<div class="flex-grow bg-cover bg-center p-4" style="background-image: url('/images/rvs.jpg');">
    <main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
        <div class="max-w-5xl mx-auto bg-stone-50 rounded-lg drop-shadow-lg p-16">
            <h2 class="subtitle text-5xl">Join the Fam!</h2>
            <p class="mt-2 mb-4">
                Create an account to unlock 24/7 online reservations and more.
            </p>
            <form method="post">
                <div class="w-full flex flex-col md:flex-row flex-nowrap gap-12">
                    <div class="w-full">
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Email address</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="email" id="email"
                                name="email" />
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Password</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="password" id="password"
                                name="password" />
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Repeat password</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="password"
                                id="password_repeat" name="password_repeat" />
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">First Name</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="text" id="first_name"
                                name="first_name" />
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Last Name</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="text" id="last_name"
                                name="last_name" />
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Phone Number</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="tel" id="phone"
                                name="phone" />
                        </div>
                        <div class="pt-3 mb-3 border-b"></div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Military Affiliation</label>
                            <select class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" id="affiliation"
                                name="affiliation">
                                <option value=""></option>
                                <option value="army">Army</option>
                                <option value="navy">Navy</option>
                                <option value="coast_guard">Coast Guard</option>
                                <option value="marines">Marines</option>
                                <option value="air_force">Air Force</option>
                                <option value="area_51">Area 51</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Military Rank</label>
                            <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="text" id="rank"
                                name="rank" />
                        </div>
                        <div class="mb-3">
                            <label class="block text-base text-stone-500">Status</label>
                            <select class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" id="status" name="status">
                                <option value=""></option>
                                <option value="active">Active duty</option>
                                <option value="veteran">Veteran</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mt-6 text-center">
                    <button type="submit" class="transition self-center text-xs lg:text-sm font-bold uppercase
                                bg-lime-600 hover:bg-lime-800 text-stone-50 hover:text-stone-100
                                drop-shadow hover:drop-shadow-md rounded-md px-3 py-2">Register Account</button>
                    <p class="mt-2">Already have an account? <a class="text-yellow-500 underline hover:text-yellow-700"
                            href="/login">Log in here!</a></p>
                </div>
            </form>
        </div>
    </main>
</div>


<%- include('../layout/footer'); %>