<a href="<%= url %>" class="transition self-center text-xs lg:text-sm font-bold uppercase
    bg-lime-600 hover:bg-lime-800 text-stone-50 hover:text-stone-100
    drop-shadow hover:drop-shadow-md rounded-md px-3 py-2"><%= text %></a>