<!-- Version 1 -->
<main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
    <div class="max-w-4xl mx-auto bg-stone-50 rounded-lg drop-shadow-lg p-16">
        <!-- Content -->
    </div>
</main>

<!-- Version 2 -->
<main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
    <div class="max-w-5xl mx-auto bg-stone-50 rounded-lg drop-shadow px-10 py-8">
        <!-- Content -->
    </div>
</main>