<div class="flex flex-col flex-nowrap bg-cover bg-center min-h-128 lg:min-h-156 2xl:min-h-196"
    style="background-image: url('/images/cover.jpg');">
    <div class="flex-grow container mx-auto flex flex-col place-content-center">
        <div class="max-w-md place-self-end bg-stone-50 rounded-md p-6 md:p-10 m-8 md:m-10">
            <h2 class="subtitle text-2xl">Camp for your country.</h2>
            <p class="mt-2 mb-4">
                You fight for your country but you don't have to fight for a spot in our gorgeous park. Make a reservation today!
            </p>
            <div class="mb-3">
                <label class="block text-base text-stone-500">Date</label>
                <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="date" id="date" name="date" />
            </div>
            <div class="mb-3">
                <label class="block text-base text-stone-500">Nights</label>
                <input class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="number" id="date" name="date" />
            </div>
            <div class="mb-3">
                <label class="block text-base text-stone-500">RV Size</label>
                <select class="w-full block rounded-md border-0 ring-2 ring-inset ring-stone-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 py-2 px-3" type="date" id="date" name="date">
                    <option value=""></option>
                    <option value="">Compact</option>
                    <option value="">Standard</option>
                    <option value="">Large</option>
                    <option value="">Truck camper</option>
                </select>
            </div>
            <div class="mt-6 text-center">
                <a href="/reservation-confirmation" class="transition self-center text-xs lg:text-sm font-bold uppercase
                            bg-lime-600 hover:bg-lime-800
                            text-stone-50 hover:text-stone-100
                            drop-shadow-md rounded-md px-3 py-2">Make Reservation</a>
            </div>
        </div>
    </div>
</div>