<div class="flex flex-col flex-nowrap bg-cover bg-center min-h-128 lg:min-h-156 2xl:min-h-196" style="background-image: url('/images/cover.jpg');">
    <div class="flex-grow container mx-auto flex flex-col place-content-center">
        <div class="max-w-md place-self-end bg-stone-50 rounded-md p-6 md:p-10 m-8 md:m-10">
            <h2 class="subtitle text-2xl">Camp for your country.</h2>

            <% if (locals.session.loggedIn) { %>
                <p class="mt-2 mb-4">
                    You fight for your country but you don't have to fight for a spot in our gorgeous park. Make a reservation today!
                </p>
                <%- include('reservation-form'); %>
            <% } else { %>
                <p class="mt-2 mb-4">
                    Log in to your account and reserve your stay today!
                </p>
                <%- include('login-form'); %>
            <% } %>
            
        </div>
    </div>
</div>