<%- include('./layout/header'); %>

<%- include('./components/cover'); %>

<main class="container mx-auto px-3">
    <h2 class="subtitle text-5xl">Subtitle</h2>
    <p class="mt-2 mb-4">
        This is a paragraph
    </p>
    <h2 class="subtitle text-5xl">Second subtitle</h2>
    <p class="mt-2 mb-4">
        Yet another paragraph!
    </p>
</main>

<%- include('./layout/footer'); %>