<%- include('./layout/header'); %>

    <main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
        <div class="max-w-5xl mx-auto bg-stone-50 rounded-lg drop-shadow px-10 py-8">
            <h1 class="subtitle text-6xl">Reservation confirmed</h1>
            <p class="mt-8 mb-8">
                We'll see you on <strong>March 31st, 2023</strong>!
            </p>
            <p class="mt-2 mb-4">
                In the meantime, check out our park <a class="text-yellow-500 underline hover:text-yellow-700"
                    href="/information">information</a> and remember to review our <a
                    class="text-yellow-500 underline hover:text-yellow-700" href="/policies">policies and
                    guidelines</a>. See you soon!
            </p>
        </div>
    </main>

    <%- include('./layout/footer'); %>