<%- include('../layout/header2'); %>

    <main class="container mx-auto md:my-8 lg:my-10 px-3 py-4">
        <div class="max-w-5xl mx-auto bg-stone-50 rounded-lg drop-shadow px-10 py-8">
            <h1 class="subtitle text-5xl mb-12">Policies and Guidelines</h1>

            <h2 class="text-sm uppercase text-center text-stone-500 border-b border-t border-stone-200 mt-10 mb-6 pt-2 pb-2">Reservations</h2>
            <div class="mb-12">
                <p class="mt-2 mb-4">
                    Reservations can be made up to 6 months in advance and must be paid in full at time of reservation.
                </p>
                <p class="mt-2 mb-4">
                    Cancellations made at least 3 days before arrival will be charged a $10 fee. Cancellations made less than 3 days prior will be charged a 1 day fee. Cancellations for holidays or special events will be charged a 1 day fee.
                </p>
                <p class="mt-2 mb-4">
                    Maximum length of stay April-October is 14 consecutive days except for those traveling on PCS orders. Long term stays are allowed October 15th to April 1st. For detailed information, please contact the FamCamp office.
                </p>
            </div>

            <h2 class="text-sm uppercase text-center text-stone-500 border-b border-t border-stone-200 mt-10 mb-6 pt-2 pb-2">Payment</h2>
            <div class="mb-12">
                <p class="mt-2 mb-4">
                    Online reservations can be paid with Visa/MasterCard through the website at the time the reservation is made. Payments can be made with Visa/MasterCard or cash in the office during regular hours. After-Hours arrivals must pay cash only and use the check-in
                    booth located next to the office. Personal checks are not accepted.
                </p>
            </div>

            <h2 class="text-sm uppercase text-center text-stone-500 border-b border-t border-stone-200 mt-10 mb-6 pt-2 pb-2">Guidelines</h2>
            <div class="mb-12">
                <p class="mt-2 mb-4">
                    In an effort to ensure compliance with all public health and safety requirements, RVs are subject to inspection when conditions observed from the exterior of the RV suggest a potential hazard or substandard condition exists within the unit.
                </p>

                <p class="mt-2 mb-4">
                    In the event of an inspection, all RV units must be able to demonstrate the following:
                </p>

                <ul class="list-disc mx-10">
                    <li>
                        Proper connection to the park’s fresh water system using the unit’s exterior water connection. The fresh water connection on the unit should be inspected to ensure it is leak-free and made of a material approved for potable water.
                    </li>
                    <li>
                        Power cord and/or approved adapter is approved for RV use and maintained in a safe operating condition.
                    </li>
                    <li>
                        The sewer drain connection on the unit must be gas-tight and leak-free. Hose must be constructed of minimum schedule 40 ABS plastic approved for drain and waste.
                    </li>
                </ul>
            </div>

            <h2 class="text-sm uppercase text-center text-stone-500 border-b border-t border-stone-200 mt-10 mb-6 pt-2 pb-2">Pets</h2>
            <div class="mb-12">
                <p class="mt-2 mb-4">
                    Leashed and vaccinated pets are welcome provided pet owners adhere to the following installation requirements:
                </p>

                <ul class="list-disc mx-10">
                    <li>
                        Animal waste will be picked up and properly disposed of immediately.
                    </li>
                    <li>
                        Pets will remain on a leash in control of the owner unless in the designated dog park area.
                    </li>
                    <li>
                        When using the dog park, the pet owner must be present at all times.
                    </li>
                    <li>
                        Dogs will not be chained outdoors or left unattended at any time.
                    </li>
                    <li>
                        In consideration of other guests, nuisance pet behavior will not be permitted. This is to include but not be limited to pets that display aggression and/or excessive barking.
                    </li>
                    <li>
                        2 Pet maximum.
                    </li>
                    <li>
                        Dogs with any of the following breed lineage are restricted from FamCamp:
                        <ul class="list-disc mx-10">
                            <li>Pit Bulls</li>
                            <li>Staffordshire Terriers</li>
                            <li>Rottweilers</li>
                            <li>Chow Chows</li>
                            <li>Doberman Pinschers</li>
                            <li>Wolf Hybrids</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <h2 class="text-sm uppercase text-center text-stone-500 border-b border-t border-stone-200 mt-10 mb-6 pt-2 pb-2">Parking</h2>
            <div class="mb-12">
                <p class="mt-2 mb-4">
                    Vehicles are only allowed to park in assigned spaces. Parking on vacant sites or roadways is not authorized. Please see Camp Host or Staff for information on overflow parking and visitor areas. Parking on grass is not permitted.
                </p>
            </div>
        </div>
    </main>

    <%- include('../layout/footer'); %>