        </div>
            <div class="text-stone-100 bg-stone-900">
                <footer class="container mx-auto flex flex-col md:flex-row flex-nowrap justify-around my-6 gap-x-2 gap-y-6 px-3 pt-6 pb-10">
                    <div class="text-stone-300">
                        <p class="text-yellow-400">FamCamp RV Park</p>
                        <p>5622 Park Lane</p>
                        <p>Hill AFB, UT 84056</p>
                    </div>
                    <div class="flex flex-row flex-nowrap justify-between gap-x-4">
                        <div class="mx-2 px-2">
                            <p class="text-yellow-400">Site</p>
                            <ul class="list-disc">
                                <li><a href="#" class="hover:underline">Information</a></li>
                                <li><a href="#" class="hover:underline">Guidelines</a></li>
                                <li><a href="#" class="hover:underline">Location and map</a></li>
                                <li><a href="#" class="hover:underline">Contact</a></li>
                            </ul>
                        </div>
                        <div class="mx-2 px-2">
                            <p class="text-yellow-400">Campers</p>
                            <ul class="list-disc">
                                <li><a href="#" class="hover:underline">Reservations</a></li>
                                <li><a href="#" class="hover:underline">Arrival</a></li>
                                <li><a href="#" class="hover:underline">Terms and conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <img src="/images/logo.png" class="w-12" />
                        <p class="subtitle text-xl my-2">"Continuously seeking justice for Levi Bernards."</p>
                        <p class="text-stone-300 mt-2">Presented by A Team Named Levi Bernards</p>
                        <p class="text-stone-400 text-xs md:text-sm">Copyright &copy; 2023</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>